//colors
$color_flush_orange_approx: #ff8100;
$black_8: rgba(0, 0, 0, 0.08);
$black_80: rgba(0,0,0,0.8);
$white: white;
$black_10: rgba(0, 0, 0, 0.1);
$white_11: rgba(255, 255, 255, 0.11);
$white_70: rgba(255, 255, 255, 0.7);

//urls
$url_0: url(/static/image/icon-download.svg);

.div-right {
	float: right;
	max-width: 50%;
	margin: 20px;
	display: block;
}
.div-center {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	display: block;
}
@media only screen and(max-width: 900px) {
	.div-right {
		float: none;
		position: relative;
		margin-right: auto;
		margin-left: auto;
		max-width: 100%;
	}
}
.download {
	width: 100%;
	height: 100%;
}
.download-link {
	clear: both;
	line-height: 1.5em;
	padding: 48px 0 0;
}
.download-link__title {
	color: $color_flush_orange_approx;
	font-size: 18px;
	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 20px;
		height: 20px;
		background: transparent $url_0 no-repeat center center;
		background-size: contain;
		margin-left: 0.3em;
	}
}
.download-link__description {
	margin-top: 7px;
	font-size: 14px;
	opacity: 0.87;
	font-weight: 300;
}
.download-wrapper {
	height: 124px;
	margin-top: 12px;
	margin-bottom: 12px;
	overflow: hidden;
	padding: 20px;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 4px $black_8;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	position: relative;
	&.col {
		margin-left: 20px;
		margin-right: 20px;
	}
	&.no-shadow {
		margin-left: 20px;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: none;
	}
	.download-link {
		background-color: $black_80;
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: -100%;
		left: 0;
		padding: 0;
		text-align: center;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.2s ease-in-out;
		color: $white;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		&:before {
			content: '';
			width: 1px;
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}
	}
	.download-link__title {
		display: inline-block;
		vertical-align: middle;
		color: $white;
	}
	&:hover .download-link {
		bottom: 0;
	}
}
.download-preview {
	width: 100%;
	height: 100%;
	background: transparent none no-repeat center center;
	background-size: contain;
}
.download-wrapper--large {
	width: 400px;
	height: 400px;
	padding: 0;
	.download-link {
		height: 90px;
		padding: 20px;
		text-align: left;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		&:before {
			display: none;
		}
	}
	.download-preview {
		background-size: cover;
	}
}
.download-wrapper--show-caption {
	height: 250px;
	.download-link {
		bottom: 0;
		height: 100%;
		background: transparent;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	.download-link__description {
		height: 0;
		overflow: hidden;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: height 0.2s ease;
	}
	&:hover {
		.download-link {
			background: $black_80;
		}
		.download-link__description {
			height: 1.2em;
		}
		.download-link__title:after {
			opacity: 1;
		}
	}
	.download-link__title:after {
		opacity: 0;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: opacity 0.2s ease;
	}
}
.color-plates {
	float: left;
	width: calc(100% +32px);
	padding: 0;
	list-style: none;
	counter-reset: color-plates;
	margin: 0 -16px 64px;
}
.color-plate {
	float: left;
	color: $white;
	width: calc(25% - 32px);
	margin: 16px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 4px 10px $black_10;
	position: relative;
	overflow: hidden;
	&:after {
		display: block;
		content: '';
		height: 0;
		padding: 100% 0 0;
	}
	&:before {
		counter-increment: color-plates;
		content: counter(color-plates);
		position: absolute;
		right: -0.08em;
		bottom: -0.3em;
		line-height: 360px;
		font-size: 300px;
		color: $white_11;
		z-index: 1;
		font-weight: 500;
	}
	h3 {
		margin: 0;
		line-height: 1.2em;
		color: $white_70;
		font-size: 18px;
	}
}
.color-plate__content {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
.mascot-preview {
	align-items: stretch;
}
.mascot-preview__cover {
	display: flex;
	align-items: center;
	justify-content: center;
}