//colors
$color_flush_orange_approx: #ff8100;
$color_mine_shaft_approx: #333333;
$color_suva_gray_approx: #888888;
$color_concrete_approx: #f3f3f3;
$color_celeste_approx: #cccccc;
$gallery: #efefef;
$white: white;
$black_8: rgba(0, 0, 0, 0.08);
$color_gravel_approx: #4a4a4a;
$color_flamingo_approx: #ff5722;
$color_gallery_approx: #eeeeee;
$color_ironstone_12_approx: rgba(126, 76, 63, 0.12);
$color_ironstone_29_approx: rgba(134, 72, 54, 0.29);
$black_5: rgba(0, 0, 0, 0.05);
$black_2: rgba(0, 0, 0, 0.02);
$black_20: rgba(0, 0, 0, 0.2);
$color_wild_sand_approx: #f5f5f5;
$color_puerto_rico_approx: #54c8af;
$color_jordy_blue_approx: #89c6f2;
$color_froly_approx: #ff7878;
$alabaster: #fafafa;
$alto: #dbdbdb;

//fonts
$font_0: Roboto;
$font_1: sans-serif;

@import url(http://fonts.googleapis.com/css?family=Roboto:100,100italic,200,300,300italic,350,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);
html {
	overflow-y: scroll;
}
body {
	display: block;
	margin: 0;
	font-family: $font_0, $font_1;
}
h1 {
	font-weight: 300;
	color: $color_flush_orange_approx;
	font-size: 40px;
}
h2 {
	font-size: 18px;
	font-weight: 300;
	color: $color_mine_shaft_approx;
}
h3 {
	font-weight: 300;
	color: $color_mine_shaft_approx;
}
h4 {
	font-weight: 300;
	color: $color_mine_shaft_approx;
}
h5 {
	font-weight: 300;
	color: $color_mine_shaft_approx;
}
h6 {
	font-weight: 300;
	color: $color_mine_shaft_approx;
}
table {
	border-collapse: collapse;
	color: $color_suva_gray_approx;
	font-size: 14px;
	width: 45%;
	border: 1px solid $color_celeste_approx;
	padding: 12px;
}
th {
	background-color: $color_concrete_approx;
	border: 1px solid $color_celeste_approx;
	padding: 12px;
}
td {
	border: 1px solid $color_celeste_approx;
	padding: 12px;
}
ul {
	list-style-type: none;
}
hr {
	height: 1px;
	border: 0;
	background-color: $gallery;
	color: $color_celeste_approx;
	margin-bottom: 20px;
}
a {
	text-decoration: none;
	color: $color_suva_gray_approx;
}
.container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
}
.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 -16px;
	padding: 0;
}
.col {
	flex: 1;
	margin: 0 16px;
}
.col-4 {
	flex: 0 0 25%;
	margin: 0 16px;
}
.placeholder {
	margin-top: 150px;
	font-family: $font_0;
	font-weight: 300;
	font-size: 32px;
	width: 100%;
	text-align: center;
}
.main {
	height: 100%;
}
.navbar {
	min-height: 80px;
	width: 100%;
	line-height: 80px;
	position: fixed;
	top: 0;
	background: $white;
	z-index: 100;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.5s ease-in-out;
}
.nav-links {
	float: right;
	padding-right: 12px;
}
.add-shadow {
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 3px 2px $black_8;
}
.navbar-collapse {
	visibility: hidden;
	top: -80px;
}
.dropdown {
	position: relative;
	display: inline-block;
	&:hover {
		.navbar-collapse {
			top: 0;
		}
		.dropdown-content {
			visibility: visible;
			height: 250px;
		}
		.nav-item {
			color: $color_flamingo_approx;
		}
	}
}
.nav-item {
	text-decoration: none;
	color: $color_gravel_approx;
	display: inline-block;
	margin-left: 30px;
	margin-right: 0;
	font-size: 18px;
	text-align: center;
	font-weight: 400;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.15s ease-in-out;
	position: relative;
	font-weight: 300;
	&:hover {
		color: $color_flamingo_approx;
	}
}
@media only screen and(max-width: 1000px) {
	.nav-item {
		margin-left: 12px;
		margin-right: 12px;
	}
	.branding-card {
		width: calc(50% - 2px);
	}
	.card {
		width: calc(50% - 24px);
	}
}
@media only screen and(max-width: 700px) {
	.nav-links {
		display: inline-block;
		float: none;
		width: 100%;
		min-width: 300px;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
	}
	.card {
		width: calc(100% - 24px);
	}
}
.dropdown-content {
	visibility: hidden;
	height: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .5s cubic-bezier(.25, .8, .25, 1);
	left: -35px;
	position: absolute;
	background-color: $white;
	min-width: 250px;
	text-align: center;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 3px 2px $color_gallery_approx;
	z-index: 1;
	overflow: hidden;
}
.dropdown-content-2 {
	left: -40px;
}
.dropdown-item {
	color: $color_gravel_approx;
	font-size: 20px;
	font-family: $font_0;
	font-weight: 300;
	display: block;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: color 0.15s ease-in-out;
	&:hover {
		color: $color_flamingo_approx;
	}
}
.active {
	color: $color_flamingo_approx;
}
.nav-logo {
	float: left;
	margin-top: 15px;
	margin-left: 12px;
	height: 40px;
}
.jumbotron {
	margin-top: 80px;
	min-height: 500px;
}
.jumbotron-header {
	float: left;
	width: 100%;
	margin-top: 150px;
	font-size: 44px;
	color: $color_gravel_approx;
	margin-left: 12px;
	font-family: $font_0;
	font-weight: 300;
}
.jumbotron-brandname {
	font-family: $font_0;
	font-weight: 400;
	color: $color_flamingo_approx;
}
.jumbotron-search {
	position: relative;
	float: left;
	margin-top: 45px;
	margin-bottom: 45px;
	width: 50%;
	margin-right: 50%;
	height: 72px;
	margin-left: 12px;
	z-index: 5;
	background: $white;
	input {
		width: 100%;
		height: 72px;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 2px 4px $color_ironstone_12_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 2px;
		border: none;
		font-size: 22px;
		font-family: $font_0;
		font-weight: 400;
		padding-left: 30px;
		padding-right: 80px;
		background-color: transparent;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: box-shadow 0.3s ease-in-out;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		&:hover {
			outline: none;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 2px;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 2px 4px $color_ironstone_29_approx;
			~ .result {
				opacity: 1;
			}
		}
		&:focus ~ .result {
			opacity: 1;
		}
	}
}
.jumbotron-img {
	position: absolute;
	z-index: -1;
	right: -100px;
}
.result {
	opacity: 0;
	max-height: 200px;
	width: 100%;
	overflow: auto;
	margin-top: 10px;
	background-color: $white;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 12px $color_ironstone_12_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: opacity 0.15s ease-in-out;
	font-family: $font_0;
	font-weight: 400;
}
.result-item {
	width: 100%;
	height: 50px;
	display: block;
	line-height: 50px;
	padding-left: 30px;
	color: $color_mine_shaft_approx;
	font-size: 18px;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	&:hover {
		background-color: $black_5;
	}
}
.selected {
	background-color: $black_5;
}
.result-query {
	color: $color_flamingo_approx;
}
.result-gdlname {
	font-family: $font_0;
	font-weight: 300;
	margin-left: 50px;
	color: $color_suva_gray_approx;
}
.result-autofill {
	color: $color_suva_gray_approx;
	font-size: 22px;
	font-family: $font_0;
	font-weight: 400;
	position: absolute;
	left: 30px;
	top: 1px;
	line-height: 72px;
	background: transparent;
	z-index: -1;
}
.search-submit {
	border: none;
	position: absolute;
	top: 20px;
	right: 20px;
	background: none;
}
@media only screen and(max-width: 900px) {
	.jumbotron-search {
		width: 90%;
	}
	.jumbotron-header {
		font-size: 30px;
	}
	.mdfile table {
		width: 100%;
	}
}
.title {
	color: $color_mine_shaft_approx;
	font-size: 36px;
	font-family: $font_0;
	font-weight: 400;
	margin-bottom: 25px;
	margin-left: 12px;
}
.title-sm {
	color: $color_gravel_approx;
	font-size: 20px;
	font-family: $font_0;
	font-weight: 400;
	margin-bottom: 25px;
}
.main-branding {
	margin-left: 10px;
	margin-right: 10px;
}
.branding-card {
	float: left;
	width: calc(33% - 2px);
	padding: 30px 20px;
	display: block;
	position: relative;
	margin: 35px 1px 60px;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	&:hover {
		background: $black_2;
		h3 {
		}
	}
	img {
		margin: 0 auto 0;
		display: block;
	}
	h3 {
		font-size: 22px;
		color: $color_mine_shaft_approx;
		text-align: center;
		font-weight: 500;
		margin-top: 10px;
	}
	p {
		font-size: 18px;
		color: $color_gravel_approx;
		font-weight: 300;
		line-height: 21px;
	}
	span {
		font-size: 14px;
		color: $color_mine_shaft_approx;
		font-weight: 400;
	}
}
.team-pic {
	width: 100%;
}
@media only screen and(max-width: 500px) {
	.branding-card {
		width: calc(100% - 2px);
	}
}
.card {
	float: left;
	width: calc(33.33% - 24px);
	margin-left: 12px;
	margin-right: 12px;
	display: block;
	position: relative;
	margin-bottom: 40px;
	height: 450px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	&:hover {
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 3px 12px $black_20;
	}
}
.card-crop {
	width: 100%;
	margin-bottom: 24px;
	overflow: hidden;
	text-align: center;
	display: inline-block;
	position: relative;
	&:after {
		padding-top: 56.25%;
		display: block;
		content: '';
	}
	img {
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
}
.card-title {
	font-size: 22px;
	font-family: $font_0;
	font-weight: 400;
	width: 88%;
	margin-left: 6%;
	color: $color_mine_shaft_approx;
	height: 50px;
	word-wrap: break-word;
	display: block;
	&:hover {
		text-decoration: underline;
	}
}
.card-content {
	font-size: 18px;
	font-family: $font_0;
	font-weight: 300;
	width: 88%;
	margin-left: 6%;
	color: $color_gravel_approx;
	margin-top: 10px;
	word-wrap: break-word;
}
.card-footer {
	font-size: 14px;
	font-family: $font_0;
	width: 88%;
	margin-left: 6%;
	color: $color_mine_shaft_approx;
	margin-top: 0;
}
.bg-gray {
	background-color: $color_wild_sand_approx;
}
.bg-green {
	background-color: $color_puerto_rico_approx;
}
.bg-cyan {
	background-color: $color_jordy_blue_approx;
}
.bg-red {
	background-color: $color_froly_approx;
}
.footer {
	color: $color_gravel_approx;
	font-size: 14px;
	font-family: $font_0;
	font-weight: 300;
	float: left;
	width: 100%;
	padding-bottom: 30px;
	position: absolute;
	bottom: 0;
	padding-top: 100px;
}
.footer-tag {
	color: $color_celeste_approx;
	margin-left: 15px;
}
.footer-logo {
	float: right;
	vertical-align: center;
	img {
		margin-left: 20px;
	}
}
.sidebar {
	width: 100%;
	min-height: 100%;
	background-color: $alabaster;
	letter-spacing: 1px;
	position: relative;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-in-out;
}
.sidebar-wrapper {
	width: 20%;
	min-width: 250px;
	height: 100%;
	overflow-y: overlay;
	overflow-x: hidden;
	position: fixed;
	z-index: 2;
	top: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-in-out;
}
.sidebar-logo {
	height: 48px;
	margin-bottom: 12px;
}
.sidebar-title {
	width: 100%;
	text-align: center;
	color: $color_suva_gray_approx;
	font-weight: 500;
	font-size: 13px;
	margin-bottom: 32px;
	padding-top: 50px;
	letter-spacing: 1.44px;
}
.side-button {
	min-height: 60px;
	width: 110px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 30px;
	background-color: $white;
	position: fixed;
	top: 60px;
	left: -65px;
	z-index: 3;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 8px 8px $black_5;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: left 0.15s ease-in-out;
	svg {
		width: 24px;
		height: 24px;
		margin-top: 18px;
		margin-right: 18px;
		display: block;
		float: right;
		fill: $alto;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: fill 0.15s ease-in-out;
	}
	&:hover {
		left: -55px;
		svg {
			fill: $color_flamingo_approx;
		}
	}
}
.side-button-menu {
	top: 0;
	visibility: hidden;
	cursor: pointer;
}
.sidebar-footer {
	min-height: 100px;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	border-top: solid;
	border-width: 1px;
	border-color: $black_5;
	width: 100%;
	padding-top: 25px;
	position: absolute;
	bottom: 0;
}
.sidebar-hint {
	font-family: $font_0;
	font-weight: 300;
	font-size: 12px;
	margin-left: 20px;
	color: $color_celeste_approx;
}
.sidebar-link {
	font-family: $font_0;
	font-weight: 400;
	margin-top: 10px;
	margin-right: 20px;
	font-size: 12px;
	display: inline-block;
	float: left;
	color: $color_suva_gray_approx;
}
.sidebar-link-wrapper {
	width: 100%;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 5px;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
@media only screen and(max-width: 1100px) {
	.side-button-menu {
		visibility: visible;
	}
	.content {
		width: calc(100% - 120px);
		float: none;
	}
}
.content {
	position: relative;
	float: right;
	width: calc(80% - 120px);
	margin-left: 60px;
	margin-right: 60px;
	padding-top: 50px;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	min-height: 100%;
}
.mdfile {
	font-weight: 500;
	line-height: 1.8em;
	font-size: 14px;
	text-align: justify;
	color: $color_mine_shaft_approx;
	padding-bottom: 200px;
	h2 {
		margin-top: 40px;
	}
	p {
		margin-top: 10px;
		opacity: 0.87;
		font-weight: 300;
	}
	hr {
		margin-top: 50px;
		margin-bottom: 30px;
		display: inline-block;
		width: 100%;
	}
	blockquote {
		font-size: 12px;
		display: inline-block;
	}
}
.media-holder {
	height: 600px;
	width: 50%;
	float: right;
	display: inline-block;
}
.color-tab {
	float: left;
	width: 38%;
	height: 600px;
	margin-right: 6%;
	margin-left: 6%;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: height 0.2s ease-in-out;
	display: flex;
	flex-direction: column;
}
.color-subtab {
	width: 100%;
	flex: 1;
	position: relative;
	text-align: center;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	color: $white;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: flex 0.15s ease-in-out;
	&:hover {
		flex: 1.5;
		.color-tab-value {
			font-size: 18px;
		}
	}
}
.color-subtab-inverse {
	width: 100%;
	flex: 1;
	position: relative;
	text-align: center;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	color: $color_mine_shaft_approx;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: flex 0.15s ease-in-out;
	&:hover {
		flex: 1.5;
		.color-tab-value {
			font-size: 18px;
		}
	}
}
.color-tab-name {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translateY(-50%) translateX(-50%);
	font-size: 22px;
	padding-left: 20px;
	padding-right: 20px;
}
.color-tab-value {
	position: absolute;
	line-height: 100%;
	bottom: 5px;
	right: 5px;
	display: inline-block;
	font-size: 12px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: font-size 0.15s ease;
}
.bottom-placeholder {
	min-width: 100%;
	height: 150px;
}
.clearfix {
	display: inline-block;
	display: block;
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}
.web {
	position: absolute;
	z-index: -1;
	right: 0;
	top: 50px;
}
input:focus {
	outline: none;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 4px $color_ironstone_29_approx;
}
.link.sidebar-item-active {
	color: $color_flush_orange_approx;
	font-weight: 400;
}
* html .clearfix {
	height: 1%;
}